<!-- templates/registration/password_change_form.html -->
{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col">
        <h2 class="form-Titre-H2">Password change</h2>
        <p>Please enter your old password, for security's sake, and then enter
        your new password twice so we can verify you typed it in correctly.</p>

        <form method="POST" class="myform">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit"
        value="Change my password">
        </form>
    </div>
</div>
{% endblock content %}