<!-- templates/article_list.html 

object_list -->
{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block content %}


<div class="row">

    <h1 class="newH1">About</h1>
    <h1 class="newH1"> Vins & Cépages</h1>

    <h2><i><b>"Le vin a de l'esprit"</b></i></h2>

    <h4 class="mt-5">A partir de cette idée, pour apprendre et partager, j'ai pensé développer un site sur le vin </h4><h4>et ce qui donne une bonne partie de son esprit : les cépages.</h4>

    <h4>Encore beaucoup de travail sur ce site mais ça avance… </h4>

    <h4>LV design à votre service.</h4>

</div><!-- END ROW -->

{% endblock content %}