<!-- templates/tag_detail.html -->
{% extends 'base.html' %}

{% block title %} 
Le cépage {{ tag.name | upper }}
{% endblock title %}
{% load static %} 

{% block content %}


  <div class="col-md-9 px-0">
    <h5 class="mb-0"><b>Le cépage</b></h5>     
    <h1 class="display-1 font-italic mb-0 overF" >{{ tag.name | capfirst  }} </h1>
    <p class="lead my-3 fond-blanc-bg">{{ tag.description_tag | safe }}</p>
  </div>


  <!-- liste des vins  par tag --> 
  <div class="tag-entry mt-4">    
    <h5><b>Les vins sur le site :</b></h5>
      <div class="row">    
      {% for tag in tag.tags.all %}
      <div class="col-sm media mb-3"> 
        <img class="align-self-start mr-2 myImages" src="https://res.cloudinary.com/lvcloud/image/upload/v1624885333/{{ tag.image }}" alt="" width=50 >  
        <h3 class="entry-title fn fond-blanc-bg">
          <a href="{%  url 'vins:vin_detail' tag.slug %}">{{ tag.slug }} </a>
        </h3>
      </div>    
      {% if not foorloop.last%}{% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- Tags liste -->
  {% load vins_plus %}
  <div class="list-group tag mt-4">
    <h5><b>Liste des cépages : </b></h5>
    {% get_tag_list %}   
  </div>
  
  <!-- Retour liste -->
  <div class="mt-4">
    <a href="{% url 'vins:vin_list' %}" class="btn btn-light"> Retour aux vins </a>
  </div>


{% endblock content %}