<!-- templates/article_new.html -->
{% extends 'base.html' %}
{% block title %}Vin-New{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col">
        <h2>Nouveau Vin ?</h2>
        <form  action="" method="post" id="upload_form" enctype="multipart/form-data" >{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Sauvegarder</button>
        <input class="btn btn-danger"  type="submit" value="Cancel" onclick="window.location.href='{% url 'vins:vin_list' %}';return false;">
        </form>
    </div>
</div>
<!-- https://stackoverflow.com/questions/2472422/django-file-upload-size-limit -->
<script>
    $("#upload_form").submit(function () {
      console.log('Checking file size');
      if (window.File && window.FileReader && window.FileList && window.Blob) {
        var file = $('#id_{{ form.upload_field_name }}')[0].files[0];
        if (file && file.size > {{ form.max_upload_limit }})
          {
            alert("File " + file.name + " of type " + file.type + " must be < {{ form.max_upload_limit_text }}");
            return false;
          }
      }
  });
  </script>
{% endblock content %}