<!-- templates/article_detail.html 
https://res.cloudinary.com/lvcloud/image/upload/v1633592831/media/vinslv/basket_sjgzj9.png-->
{% extends 'base.html' %}
{% block content %}
{% load humanize %}
<div class="row">
    
    <div class="col-sm">
    <img src="https://res.cloudinary.com/lvcloud/image/upload/v1624885333/{{ vin.image }}" alt="{{ vin.title }}" class="align-self-start mr-3 myImages borderImage"   width=300 />

    </div>  
        
    <div class="col-sm media-body">
            
            <h1 class="mt-0 fond-blanc-bg fond-title-padding">{{ vin.title }}</h1>
            <p></p>
            <p class="fond-noir-bg fond-padding"><b>by {{ vin.author }}</b> | {{ vin.created | date }}</p>
            <p></p>

            <h4 class="fond-blanc-bg">{{ vin.description }}</h4>
            <p></p>

            <p class="fond-noir-bg fond-padding"><b>Producteur : </b> {{ vin.producteur }}</p>
            <p></p>
            

            <p class="fond-noir-bg fond-padding" ><b>Prix : </b> {{ vin.price }} €</p>
            <p></p>  
            <p class="fond-noir-bg fond-padding" ><b> Boutique : </b> {{ vin.boutique }}</p>
            <p></p>
            <p class="fond-noir-bg fond-padding"><b>Région : </b> <a class="fond-blanc-bg" href="{% url 'vins:category_detail' vin.category %}"> {{ vin.category | capfirst }} </a></p>
            <p></p>
            
            <ul class="fond-blanc-bg fond-padding">
                <li class="fond-noir-bg"><b>Cépage : </b></li>
                {% for t in vin.tag.all %}
                    <li class="fond-blanc-bg fond-padding"><a href="{% url 'vins:tag_detail' t.slug %}"> #{{ t.name | capfirst }}  </a>    </li>  
                    {% if not foorloop.last%}{% endif %}
                {% endfor %}        
            </ul>
            <p></p>
            <!-- score -->
            {% if vin.score == 1 %}
            <p class="fond-blanc-bg fond-padding" >
                <b>Like :  </b>
                <i class="fa fa-glass" aria-hidden="true"></i></p>
            {% elif vin.score == 2 %}    
            <p class="fond-blanc-bg fond-padding" >
                <b>Like :  </b> 
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
            </p>
            {% elif vin.score == 3 %}    
            <p class="fond-blanc-bg fond-padding" >
                <b>Like :  </b>
                <i class="fa fa-glass " aria-hidden="true"></i>
                <i class="fa fa-glass " aria-hidden="true"></i>
                <i class="fa fa-glass " aria-hidden="true"></i>
            </p>
            {% elif vin.score == 4 %}    
            <p class="fond-blanc-bg fond-padding" >
                <b>Like :  </b>
                <i class="fa fa-glass " aria-hidden="true"></i>
                <i class="fa fa-glass " aria-hidden="true"></i>
                <i class="fa fa-glass " aria-hidden="true"></i>
                <i class="fa fa-glass " aria-hidden="true"></i>
            </p>
            {% elif vin.score == 5 %}    
            <p class="fond-blanc-bg fond-padding" >
                <b>Like :  </b>  
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
            </p>
            {% else %}
            <p class="fond-blanc-bg fond-padding" ><b>Like :  </b> {{ vin.score }} <i class="fa fa-glass" aria-hidden="true"></i></p>
            {% endif %}
      
          

            {% if vin.author == user %}            
            <hr>
            <!-- auteur -->
            <p>
                <a href="{% url 'vins:vin_edit' vin.slug %}">Edit</a> |
                <a href="{% url 'vins:vin_delete' vin.slug %}">Delete</a>
            </p>
            <hr>
            {% endif %}

        <div>

        {# comment #}
        <hr class="mt-5">
        <h6>Commentaires</h6>
        
        {% for comment in comments %}        
        <ul>        
            <li class="fond-noir-bg fond-padding"><b> {{ comment.text }} </b><i>par {{ comment.author }}</i> <span><small>( {{ comment.updated_at|naturaltime }} )  </small></span>
                {% if user == comment.author %}
                <span><a href="{% url 'vins:vin_comment_delete' comment.id %}">
                    <i class="fa fa-trash"></i></a></span>
                {% endif %}
            </li>
        </ul>
        {% endfor %}

        {% if user.is_authenticated %}       
       
        {% load crispy_forms_tags %}
        <form method="post" action="{% url 'vins:vin_comment_create' vin.slug %}">
            {% csrf_token %}
            {{ comment_form|crispy }}
            
        <input type="submit" class="btn btn-dark btn-sm" value="Soumettre un commentaire (140 max.)">
        
        </form>
        </p>
        {% endif %}
        {# comment #}
            </div>

            <hr class="mb-5">
           
            <p>
                <a href="{% url 'vins:vin_list' %}" class="btn btn-light"> Retour aux vins </a>
            </p>
         
        </div> 

        

        

       
 
    
    </div>

</div>


{% endblock content %}